# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# some npm stuff
node_modules
package-lock.json

# circuit builds
circuits/build/
circuits/powersOfTau28_hez_final_20.ptau
circuits/ptau

# some cargo rust stuff
Cargo.lock
hello wasm
hello-wasm/Cargo.lock
hello-wasm/static/keccak-circuit/package.json
hello-wasm/static/keccak-circuit/node_modules
hello-wasm/static/keccak-circuit/keccak-chain.sym
target

# some debugging stuff
temp/

# some vite deploying local server stuff
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
